$cWhite: white;
$cBlack: black;

#container {
    text-align: center
}

.btn {
    background-color: $cWhite;
    color:$cBlack;
    border:2px solid $cBlack;
    transition: all 0.3s;

    &:hover {
        background-color:$cBlack;
        color:$cwhite;
    }
}